*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;}

/* 页眉 */
div.header{
    width: 100%;
    height: 29.6px;
    background: #4bb433;
}
div.header-top{
    width: 1170px;
    display: flex;
    margin: 0 auto;
}
div.header-top p{
    height: 29.6px;
    flex: 1;
    margin: 0 15px;
    font:14px 微软雅黑;
    color:#fff;
    line-height: 29.6px;
}
div.header-top p:nth-child(2){
    text-align: right;
}

div.header-top p:nth-child(2) span{
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
}
div.header-top p:nth-child(2) span img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: -5px;
}
/*页眉 */
.nav-top{
    width: 1170px;
    height: 71px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-top>a{
    width: 230px;
    height: 65.55px;
    padding: 3px 15px;
}
.nav-top>a>img{
    width: 134px;
    height: 43.55px;
    padding: 8px;
}
.nav-top ul{
    display: flex;
}

.nav-top ul li{
    line-height: 71px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}
.nav-top ul li a{
    padding: 24px;
    color: #000;
    font:18px 微软雅黑;
    box-sizing: border-box;  
}
.nav-top ul li:hover{
    border-bottom: 3px solid #4bb433;
}
.nav-top ul li a:hover{
    color: #4bb433;  
}
.header-bg img{
    width: 100%;
    height: 295.7px;
}

/* 产品展示 */
.pro_display{
    width: 100%;
    height: auto;
    padding: 74.7px 0;
}

.titles{
    width: 1170px;
    height: 95.2px;
    margin: 0 auto 23.4px;
    text-align: center;
    color: #4bb433;
}
.titles h2{
    font-size: 30px;
    color: #333;
    margin: 20px 0 10px;
}

.titles span{
    display: inline-block;
    height: 40.8px;
}

.nav-list{
    display: flex;
    width: 1170px;
    height: 61.4px;
    color: #333;
    margin: 0 auto 10px;
    padding: 0 0 15px;
    justify-content: center;
}

.nav-list li{
    width: 66px;
    height: 24.4px;
    color: #000;
    font: 16px 微软雅黑;
    margin: 0 10px;
    padding: 8px 30px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}
.nav-list li:hover{
    background: #4bb344;
    color: #fff;
}

.nav-list .active{
    background: #4bb344;
    color: #fff;
}

.pro_display .list-pro-show .pro-show{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto 110px;
    display: none;
}


.pro_display .list-pro-show .pro-show li{
    width: 370px;
    height: 269.55px;
    float: left;
    padding: 5px;
    overflow: hidden;
}
.list-pro-show #hide{
    display: block;
}
.pro_display .list-pro-show .pro-show li img{
    width: 362px;
    height: 261.55px;
}

.pro_display .list-pro-show .pro-show li img{
  cursor: pointer;
  transition: all 0.5s;
}
.pro_display .list-pro-show .pro-show li img:hover{
  transform: scale(1.3);
}

/* 页脚 */
.pro-foot{
    width: 1140px;
    height: 60px;
    justify-content: center;
    margin: 0 auto 10px;
    display: flex;
}

.pro-foot li{
    height: 18px;
    line-height: 18px;
    margin: 30px 2px 0;
    padding: 4px 9px;
    color: #000;
    font: 14px 微软雅黑;
    border: 1px solid #ebebeb;
    background: #fafafa;
}


/* 页脚 */
hr{
    border:1px solid;
    color: #4bb433;
}
.index-bg01{
    background: url(../img/index/bg01.jpg);
}
.row{
    width: 1446px;
    height: 273.33px;
    margin: 0 auto;
    text-align: center
}
.row a .top{
    display:block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #4bb433;
    margin: 0 auto;
}
.row .row-nav{
    width: 952.9px;
    height: 113.33px;
    display: flex;
    justify-content: center;
    margin: 22px auto 10px;
    padding: 0 15px;
}

.row .row-nav li{
    width: 113.33px;
}

.row .row-nav li a{
    width: 113.33px;
    height: 25.6px;
    display: block;
    margin-top: 44px;
    font:18px 微软雅黑;
    color: #333;
}

.row .row-nav li a:hover{
    color: #4bb433;
}

.row .row-nav li a .wx{
    width: 113.33px;
    height: 113.33px;
    margin-top: -44px;
}

.row p{
    font: 14px 微软雅黑;
    color: #666;
    margin-bottom: 15px;
}