<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/public.css">
		<link rel="stylesheet" href="../css/contact.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="left">
					<p>400-000-000</p>
					<p>商城模板，仅为演示</p>
				</div>
				<div class="right">
					<p>全场满5000元免邮！</p>
					<a href="#">个人中心</a>
					<a href="goodsCar.html">购物车</a>
				</div>
			</div>
			<div class="wrap">
				<div class="nav">
					<div class="left">
						<ul>
							<li><img src="../img/index/logo.png" ></li>
							<li><a href="../index.html">首页/<span>HOME</span></a></li>
							<li><a href="shop.html">商城/<span>SHOP</span></a></li>
							<li><a href="About.html">关于/<span>ABOUT</span></a></li>
							<li><a href="news.html">新闻/<span>NEWS</span></a></li>
							<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
						</ul>
					</div>
					<div class="right">
						<input type="text" value="输入商品名称">
					</div>
				</div>
				<div class="headerimg">
					<img src="../img/about/1.jpg" >
					<div class="headerfont">
						<p>
							CONTACT US
						</p>
						<div class="msg">
							<a href="#">主页</a> &nbsp;&gt;&nbsp;<a href="#">联系</a>
						</div>
					</div>
				</div>
				<div class="cantactmsg">
					<div class="cantactbox">
						<div class="left">
							<div class="title">联系我们/ CONTACT US</div>
							<div class="address">
								<p class="msg">地址：苏州市工业园区金鸡湖大道00号零零大厦00号</p>
								<p class="msg">TEL：(010)5555-6666</p>
								<p class="msg">FAX：(010)5555-5555</p>
								<p class="msg">Email：email@information.com</p>
							</div>
							<div class="time">
								<p class="msg">营业时间</p>
								<p class="msg">周一至周六（Mon-Sat）AM11：00-PM9：00</p>
								<p class="msg">周日(Sun) AM11：00-PM7：30</p>
							</div>
						</div>
						<div class="right">
							<input type="text" placeholder="姓名*" class="username">
							<input type="text" placeholder="邮箱*" class="email">
							<p class="inputerror">请输入邮箱格式xxx@xx.com</p>
							<input type="text" placeholder="电话*" class="phone">
							<p class="inputerror">请输入11位手机号</p>
							<textarea rows="" cols="" placeholder="内容"></textarea>
							<div class="btn">发送</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="footer">
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<div class="icons">
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="one">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="two">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="three">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="four">
						</div>
					</div>
					
				</div>
				<div class="wechat smoove">
					<div class="erweima">
						<p>微信客服</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
					<div class="erweima">
						<p>微信公众号</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
				</div>
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<img src="../img/index/service.png" >
				</div>
			</div>
		</div>
		<script src="../jquery-3.5.1.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/contact.js"></script>
	</body>
</html>
