<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/public.css">
		<link rel="stylesheet" href="../css/goods.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="left">
					<p>400-000-000</p>
					<p>商城模板，仅为演示</p>
				</div>
				<div class="right">
					<p>全场满5000元免邮！</p>
					<a href="#">个人中心</a>
					<a href="goodsCar.html">购物车</a>
				</div>
			</div>
			<div class="wrap">
				<div class="nav">
					<div class="left">
						<ul>
							<li><img src="../img/index/logo.png" ></li>
							<li><a href="../index.html">首页/<span>HOME</span></a></li>
							<li><a href="shop.html">商城/<span>SHOP</span></a></li>
							<li><a href="About.html">关于/<span>ABOUT</span></a></li>
							<li><a href="news.html">新闻/<span>NEWS</span></a></li>
							<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
						</ul>
					</div>
					<div class="right">
						<input type="text" value="输入商品名称">
					</div>
				</div>
				<div class="details">
					<div class="left">
						<div class="img">	
							<div class="picture">
								<img src="../img/goods/picture1.jpg" alt="">
								<div class="mask"></div>
							</div>
							<div class="resize">
								<img src="../img/goods/picture1.jpg" alt="">
							</div>
						</div>
						
						<ul class="selectImg">
							<li>
								<img src="../img/goods/picture1.jpg" alt="">
							</li>
							<li>
								<img src="../img/goods/picture2.jpg" alt="">
							</li>
						</ul>
					</div>
					<div class="right">
						<p class="goodname">ST-E87</p>
						<hr>
						<p class="goodsprice">¥55,900</p>
						<p class="msg">是否拆洗：否</p>
						<p class="msg">产品品牌：FIND</p>
						<p class="msg">产品尺寸：长63cmx宽64cmx高72cm</p>
						<p class="msg">产品颜色：灰褐色+米白色</p>
						<p class="msg">产品材质：棉麻，硬杂木，橡胶木，高弹海棉，白杨夹板</p>
						
						<div class="addcar">
							<div class="btn">加入购物车</div>
							<div class="nums">
								<div class="reduce">-</div>
								<input type="text" class="num" value="">
								<div class="add">+</div>
							</div>
						</div>
						<p class="msg">商品编号： ST-27858 </p>
					</div>
				</div>
				<ul class="tab">
					<li class="active">描述</li>
					<li>其他信息</li>
					<li>用户评论</li>
				</ul>
				<div class="detailTab">
					<!-- <ul>
						<li class="active">描述</li>
						<li>其他信息</li>
						<li>用户评论</li>
					</ul> -->
					<div class="describe item" value="0">
						<img src="../img/goods/describe.jpg" >
					</div>
					<div class="othermsg item" value="1">
						<div class="othersize">
							<p>尺寸</p><span>S,L,M</span>
						</div>
						<div class="othersize1">
							<p>相关商品</p>
						</div>
						<div class="othergood">
							<img src="../img/goods/picture1.jpg" alt="">
							<p class="goodsname">ST-E87</p>
							<p class="goodsprice">￥55,900</p>
						</div>
						<div class="othergood">
							<img src="../img/goods/picture1.jpg" alt="">
							<p class="goodsname">ST-E87</p>
							<p class="goodsprice">￥55,900</p>
						</div>
						<div class="othergood">
							<img src="../img/goods/picture1.jpg" alt="">
							<p class="goodsname">ST-E87</p>
							<p class="goodsprice">￥55,900</p>
						</div>
					</div>
					<div class="comment item" value="2">
						
						<div class="addcomment">
							<p class="adds">添加评论</p>
							<div class="yourcomment">
								<p>您的评论</p>
								<textarea rows="" cols=""></textarea>
								<div class="btn">提交</div>
							</div>
						</div>
						<div class="historycomment">
							<!-- <p>目前还没有评论</p> -->
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="footer">
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<div class="icons">
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="one">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="two">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="three">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="four">
						</div>
					</div>
					
				</div>
				<div class="wechat smoove">
					<div class="erweima">
						<p>微信客服</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
					<div class="erweima">
						<p>微信公众号</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
				</div>
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<img src="../img/index/service.png" >
				</div>
			</div>
		</div>
		<script src="../jquery-3.5.1.min.js"></script>
		
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery-smoove/0.2.9/jquery.smoove.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/goods.js"></script>
	</body>
</html>
