<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
	</head>
	<body>
		<div class="header">
			<div class="left">
				<p>400-000-000</p>
				<p>商城模板，仅为演示</p>
			</div>
			<div class="right">
				<p>全场满5000元免邮！</p>
				<a href="#">个人中心</a>
				<a href="goodsCar.html">购物车</a>
			</div>
		</div>
		<div class="wrap">
			<div class="nav">
				<div class="left">
					<ul>
						<li><img src="../img/index/logo.png" ></li>
						<li><a href="../index.html">首页/<span>HOME</span></a></li>
						<li><a href="shop.html">商城/<span>SHOP</span></a></li>
						<li><a href="About.html">关于/<span>ABOUT</span></a></li>
						<li><a href="news.html">新闻/<span>NEWS</span></a></li>
						<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
					</ul>
				</div>
			</div>
			<img src="../img/index/inbg.jpg" >
			<div class="loginbox">
				<h2>登录</h2>
				<input type="text" placeholder="手机号*" class="phone">
				<input type="text" placeholder="验证码*" class="passcode"><span>获取验证码</span>
				<div class="btn">登录</div>
				<!-- <div class="otherways">
					<p class="msg">其他登陆方式</p>
					<ul>
						<li><img src="../img/index/xuebitu.png" ></li>
					</ul>
				</div> -->
			</div>
		</div>
		<script src="../jquery-3.5.1.min.js"></script>
		<script src="../js/public.js"></script>
	</body>
</html>
