<!DOCTYPE html>
<html><!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/public.css">
		<link rel="stylesheet" href="../css/new1.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="left">
					<p>400-000-000</p>
					<p>商城模板，仅为演示</p>
				</div>
				<div class="right">
					<p>全场满5000元免邮！</p>
					<a href="#">个人中心</a>
					<a href="#">购物车</a>
				</div>
			</div>
			<div class="wrap">
				<div class="nav">
					<div class="left">
						<ul>
							<li><img src="../img/index/logo.png" ></li>
							<li><a href="../index.html">首页/<span>HOME</span></a></li>
							<li><a href="shop.html">商城/<span>SHOP</span></a></li>
							<li><a href="About.html">关于/<span>ABOUT</span></a></li>
							<li><a href="news.html">新闻/<span>NEWS</span></a></li>
							<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
						</ul>
					</div>
					<div class="right">
						<input type="text" value="输入商品名称">
					</div>
				</div>
				<div class="newcontainer">
					<h3>如何选择室内装饰画</h3>
					<p class="msg data">发布日期：2019-04-15 14:45</p>
					<img src="../img/news/new1.jpg" >
					<p class="msg">
						<br>
						当年刚学打篮球的时候，疯狂地迷恋上了乔丹，然后迷恋上了NIKE，更熟记了NIKE的那句广告语：JUST DO IT。然后…我从此进入了IT行业。。。
						<br>
						<br>
						如果你对一个程序员说：你的代码有bug。
						<br>
						他的第一反应是：你环境有问题吧？sb你会用嘛！
						<br>
						但是如果你委婉的对他说：你这个程序和预期的有点不一致，你看看是不是我的使用方法有问题？
						<br>
						他就会本能的想：卧槽，是不是出bug了？！
						<br>
						<br>
						<br>
						加班到深夜，精神疲惫的我为了发泄心中的苦闷，冲到空无一人的阳台高唱了一句：在那山的这边海的那边有一群蓝精灵！
						<br>
						忽然楼下传来一个哀怨的声音：他们苦逼又聪明，他们加班到天明…… 
						</div>
					</p>
					
				</div>
				</div>
			</div>
			<div class="footer">
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<div class="icons">
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="one">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="two">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="three">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="four">
						</div>
					</div>
					
				</div>
				<div class="wechat smoove">
					<div class="erweima">
						<p>微信客服</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
					<div class="erweima">
						<p>微信公众号</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
				</div>
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<img src="../img/index/service.png" >
				</div>
			</div>
		</div>
		<script src="../jquery-3.5.1.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery-smoove/0.2.9/jquery.smoove.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/new1.js"></script>
	</body>
</html>

	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
