<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body><!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/public.css">
		<link rel="stylesheet" href="../css/settle.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="left">
					<p>400-000-000</p>
					<p>商城模板，仅为演示</p>
				</div>
				<div class="right">
					<p>全场满5000元免邮！</p>
					<a href="#">个人中心</a>
					<a href="goodsCar.html">购物车</a>
				</div>
			</div>
			<div class="wrap">
				<div class="nav">
					<div class="left">
						<ul>
							<li><img src="../img/index/logo.png" ></li>
							<li><a href="../index.html">首页/<span>HOME</span></a></li>
							<li><a href="shop.html">商城/<span>SHOP</span></a></li>
							<li><a href="#">关于/<span>ABOUT</span></a></li>
							<li><a href="news.html">新闻/<span>NEWS</span></a></li>
							<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
						</ul>
					</div>
					<div class="right">
						<input type="text" value="输入商品名称">
					</div>
				</div>
				<div class="settlemsg">
					<h3>订单详情</h3>
					<!-- <p>您未选择商品</p> -->
					<div class="settletitle">
						<div class="setselect">
							商品
						</div>
						<p class="settle_price">单价（元）</p>
						<p class="nums">数量（件）</p>
						<p class="sum">合计（元）</p>
					</div>
					<div class="settlegoods">
						<div class="settle_good">
							<img src="../img/goods/picture1.jpg" >
							<p>DO-002</p>
						</div>
						<p class="settle_price">55900</p>
						<p class="nums">1</p>
						<p class="sums">55900</p>
					</div>
					<div class="settlegoods">
						<div class="settle_good">
							<img src="../img/goods/picture1.jpg" >
							<p>DO-002</p>
						</div>
						<p class="settle_price">55900</p>
						<p class="nums">1</p>
						<p class="sums">55900</p>
					</div>
					<div class="settled">
						<p class="all"></p>
						<div class="btn"></div>
					</div>
				</div>
				<div class="settle_foot">
					<p class="foot_nums">商品数量：2件</p>
					<p class="foot_sums">订单共计：111800元</p>
				</div>
				<div class="payways">
					<div class="instore">
						<input type="radio"><span>银行汇款（线下）</span>
						<!-- <p class="msg">直接付款到我们的银行账户。请使用订单号作为付款名目。我们会在资金到账后配送订单。</p> -->
					</div>
					<div class="alipay">
						<input type="radio"><span>支付宝</span><img src="../img/settle/alipay.png" alt="">
					</div>
					<div class="wechat">
						<input type="radio"><span>微信支付</span><img src="../img/settle/weixinpay_for_wc.png" alt="">
					</div>
					<div class="address">
						<h4>账单地址：</h4>
						<p class="username">姓名：</p>
						<input type="text" placeholder="姓名*">
						<p class="username">电话：</p>
						<input type="text" placeholder="电话*" class="phone">
						
						<br><p class="settle_address">省市区*</p>
						<select name="" id="province">
							<option value="" disabled selected>--请选择--</option>
						</select>
						<select name="" id="city">
							<option value="" disabled selected>--请选择--</option>
						</select>
						<select name="" id="area">
							<option value="" disabled selected>--请选择--</option>
						</select>
						<p class="beizhu">订单备注</p>
						<textarea rows="" cols=""></textarea>
					</div>
					<div class="settle_btn">下单</div>
				</div>
			</div>
			
			<div class="footer">
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<div class="icons">
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="one">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="two">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="three">
						</div>
						<div class="icon">
							<img src="../img/index/xuebitu.png" class="four">
						</div>
					</div>
					
				</div>
				<div class="wechat smoove">
					<div class="erweima">
						<p>微信客服</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
					<div class="erweima">
						<p>微信公众号</p>
						<img src="../img/index/erweima.jpg" alt="">
					</div>
				</div>
				<div class="contentUs smoove">
					<p>售后客服热线：400-000-0000</p>
					<p>商务合作邮箱：email@qifeiye.com</p>
					<img src="../img/index/service.png" >
				</div>
			</div>
		</div>
		<script src="../jquery-3.5.1.min.js"></script>
		
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery-smoove/0.2.9/jquery.smoove.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/area.js"></script>
		<script src="../js/settle.js"></script>
	</body>
</html>

	</body>
</html>
