<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/public.css">
		<link rel="stylesheet" href="../css/shop.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="left">
					<p>400-000-000</p>
					<p>商城模板，仅为演示</p>
				</div>
				<div class="right">
					<p>全场满5000元免邮！</p>
					<a href="#">个人中心</a>
					<a href="goodsCar.html">购物车</a>
				</div>
			</div>
			<div class="wrap">
				<div class="nav">
					<div class="left">
						<ul>
							<li><img src="../img/index/logo.png" ></li>
							<li><a href="../index.html">首页/<span>HOME</span></a></li>
							<li><a href="#">商城/<span>SHOP</span></a></li>
							<li><a href="About.html">关于/<span>ABOUT</span></a></li>
							<li><a href="news.html">新闻/<span>NEWS</span></a></li>
							<li><a href="contact.html">联系/<span>CONTACT</span></a></li>
						</ul>
					</div>
					<div class="right">
						<input type="text" value="输入商品名称">
					</div>
				</div>
				<div class="headimg">
					<img src="../img/shop/header.jpg" >
					<!-- <img src="../img/shop/header.jpg" > -->
				</div>
				<div class="shopDecoration">
					<p class="english smoove">DECORATE YOUR OWN HOME</p>
					<p class="chinese smoove">装饰你的家</p>
					<p class="msg smoove">艺术并非是偶有闲情时的欣赏，而是生活中的点点滴滴与不可或缺</p>
					<p class="msg smoove">其实，家中的一抹绿意，一束恰到好处的灯光，令人安心的香气，都可以成为家中的艺术装点</p>
					<div class="shopbtn">
						<div class="btn">椅子</div>
						<div class="btn">沙发</div>
						<div class="btn">电视柜</div>
						<div class="btn">灯饰</div>
						<div class="btn">装饰</div>
					</div>
				</div>
				<div class="shopgoods">
					<div class="decorationbox selectbox">
						<div class="shopgood">
							<img src="../img/shop/decoration1.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration11.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
					</div>
					<div class="lightbox selectbox">
						<div class="shopgood">
							<img src="../img/shop/decoration2.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration21.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
						<div class="shopgood">
							<img src="../img/shop/decoration3.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration31.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
					</div>
					<div class="chairbox selectbox">
						<div class="shopgood">
							<img src="../img/shop/decoration4.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration41.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
						<div class="shopgood">
							<img src="../img/shop/decoration5.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration51.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
					</div>
					<div class="sofabox selectbox">
						<div class="shopgood">
							<img src="../img/shop/decoration6.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration61.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
						<div class="shopgood">
							<img src="../img/shop/decoration7.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration71.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
					</div>
					<div class="tvbox selectbox">
						<div class="shopgood">
							<img src="../img/shop/decoration8.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration81.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
						<div class="shopgood">
							<img src="../img/shop/decoration9.jpg" alt="" class="picture1">
							<img src="../img/shop/decoration91.jpg" alt="" class="picture2">
							<p>DO-002</p>
							<P>￥55900</P>
						</div>
					</div>
				</div>
			</div>
			
			<div class="footerbox">
				<div class="footer">
					<div class="contentUs smoove">
						<p>售后客服热线：400-000-0000</p>
						<p>商务合作邮箱：email@qifeiye.com</p>
						<div class="icons">
							<div class="icon">
								<img src="../img/index/xuebitu.png" class="one">
							</div>
							<div class="icon">
								<img src="../img/index/xuebitu.png" class="two">
							</div>
							<div class="icon">
								<img src="../img/index/xuebitu.png" class="three">
							</div>
							<div class="icon">
								<img src="../img/index/xuebitu.png" class="four">
							</div>
						</div>
						
					</div>
					<div class="wechat smoove">
						<div class="erweima">
							<p>微信客服</p>
							<img src="../img/index/erweima.jpg" alt="">
						</div>
						<div class="erweima">
							<p>微信公众号</p>
							<img src="../img/index/erweima.jpg" alt="">
						</div>
					</div>
					<div class="contentUs smoove">
						<p>售后客服热线：400-000-0000</p>
						<p>商务合作邮箱：email@qifeiye.com</p>
						<img src="../img/index/service.png" >
					</div>
				</div>
			</div>
		</div>
			
		<script src="../jquery-3.5.1.min.js"></script>
		<script src="../js/tvshop.js"></script>
	</body>
</html>
